/* @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Quicksand&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Rowdies&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;

  /* color: #333; */
  text-decoration: none;
  font-size: 14px;
}

.page {
  display: flex;
  justify-content: center;
}

.questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.questions-3 {
  width: 555px;
  align-items: left;
}

/* .select {
} */

.questions select {
  font-style: italic;
  padding: 15px 0px 13px 57px;
  width: 455px;

  margin-top: 150px;
}

.questions input {
  margin-top: 40px;
  font-style: italic;
  padding: 17px 0px 13px 57px;
  width: 455px;
}
.add-btn-parent {
  width: 455px;
  display: flex;
  justify-content: end;
}
.add-btn-parent button {
  margin-top: 30px;
  font-style: normal;
  font-size: 12px;
  width: 200px;
  background-color: #fe3b1f;
  color: aliceblue;
  padding: 5px;
  border: none;
  cursor: pointer;
}

.right-title {
  font-size: 64px;
  color: #fe3b1f;
  font-family: Rowdies;
}
.right-paragraph {
  font-size: 24px;
  color: white;
  font-family: Montserrat;
  line-height: 200%;
}
.paragraph-wrapper {
  margin-top: 150px;
  width: 705px;
}

.questions h2 {
  text-align: center;
}

.questions {
  width: 913px;
}

.input-container {
  margin-top: 131px;
  width: 455px;
  height: 364px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-container input {
  font-size: 14px;
  font-style: italic;
  padding: 17px 0px 13px 57px;
  /* box-sizing: border-box; */
  width: 455px;
}

.page h2 {
  font-family: "Rowdies", cursive;
  color: #fe3b1f;
  font-size: 64px;
  line-height: 79px;
}

/* .page input,
button,
select {
  width: 400px;
} */

.page h2 {
  text-align: center;
}

.added-skill-box {
  margin-top: 15px;
  width: 455px;
  display: flex;
  justify-content: space-between;
  padding: 14px;
  border: 1px solid;
  box-sizing: border-box;
}

.added-skill-box p {
  font-size: 14px;
}

.added-skill-box button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 90%;
  border: 1px solid;
  color: #fe3b1f;
  font-size: 35px;
  padding-bottom: 5px;
  cursor: pointer;
}

.page {
  font-size: 25px;
}

.question-block {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
}

.question-block div {
  display: flex;
  align-items: center;
  justify-content: start;
  /* border: 1px solid black; */
}
.check-question input {
  width: 30px;
}

.date input {
  width: 400px !important;
  margin-top: 20px;
  padding: 10px;
}

.question-block p {
  margin-top: 10px;
}

.question-block input {
  margin-top: 10px;
}

.exp-years {
  box-sizing: border-box;
}

.question-block textarea {
  margin-top: 20px;
  padding: 24px;
  box-sizing: border-box;
}
