@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Quicksand&display=swap");

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
  text-decoration: none;
  font-size: 40px;
}

.arrow {
  background-color: blanchedalmond;
  /* border: 10px solid orange; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 45%;
  width: 50px;
  height: 50px;
}
.footer {
  width: 100px;
  display: flex;
}

.home-wrapper {
  display: flex;
  flex-direction: column;
}

.home-wrapper button {
  width: 600px;
}

.page {
  display: flex;
  flex-direction: column;
}

.page input,
button,
select {
  width: 400px;
}

.page p {
  font-size: 25px;
}

.page {
  font-size: 25px;
}
